html,
body {
  height: 100%;
}

body {
  align-items: center;
  background-color: #9099a2;
}

.navbar {
  background-color: #9099a2;
}


.form-search {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

hr {
    clear: both;
    visibility: hidden;
}